* {
  --dk: #141415;
  --lt: #f2f2f2;
  --mid: #d7d4d2;
  --accent1: #264653;
  --accent2: #2a9d8f;
  --accent3: #e9c46a;
  --accent4: #d4a261;
  --accent5: #e76f51;
}

body {
  background-color: var(--lt);
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

/*
header {
  background: var(--accent3) url('https://assets.codepen.io/489708/bg-trees.jpeg') no-repeat center;
  height: 100vh;
}*/

.logo {
  max-width: 100px;
  width: 100%;
}

h1 {
}

h2 {
  color: var(--accent1);
}

p {
  color: var(--dk);
}

.icon > p {
  color: var(--accent1);
  font-weight: 600;
  text-align: center;
  width: 8rem;
}

.contact-icon {
  font-size: 1.5rem;
  min-width: 5rem;
  text-align: center;
}

footer > h3,
footer > p {
  color: var(--lt);
}

a {
  border-bottom: 1px solid var(--accent2);
  color: var(--accent1);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: var(--accent2);
  border: 0;
}

a.reversed {
  border-bottom: 1px solid var(--accent2);
  color: var(--lt);
}

a:hover.reversed {
  color: var(--accent2);
  border: 0;
}

.color-dk {
  color: var(--dk);
}

.color-lt {
  color: var(--lt);
}

.bg-dk {
  background-color: var(--dk);
}

.bg-lt {
  background-color: var(--lt);
}

.bg-mid {
  background-color: var(--mid);
}

.bg-accent {
  background-color: var(--accent1);
}

.color-accent1 {
  color: var(--accent1);
}

.color-accent2 {
  color: var(--accent2);
}

.color-accent3 {
  color: var(--accent3);
}

.color-accent4 {
  color: var(--accent4);
}

.color-accent5 {
  color: var(--accent5);
}
