* {
  --black: #001e1d;
  --black-rich: #141415;
  --white: #fffffe;
  --gray: #e8e4e6;
  --theme-dark: #004643;
  --theme-mid: #2a9d8f;
  --theme-light: #abd1c6;
  --accent-dark: #e16162;
  --accent-light: #f9bc60;
}

body {
  font-family: Inter, sans-serif;
    font-size: 20px;
}

h1 {
  color: var(--white);
}

h2 {
  color: var(--accent-dark);
  font-size: 1em;
}

p {
  color: var(--black);
}

a {
  border-bottom: 1px solid var(--theme-mid);
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: var(--theme-mid);
  border: 0;
}

a.reversed {
  border-bottom: 1px solid var(--theme-mid);
  color: var(--white);
}

a:hover.reversed {
  color: var(--theme-mid);
  border: 0;
}

i {
  color: var(--theme-dark);
}

figure {
  font-family: Georgia, serif;
}

figcaption {
  color: var(--theme-light);
  text-align: right;
}

.bg-black {
  background: var(--black);
}

.bg-black-rich {
  background: var(--black-rich);
}

.bg-white {
  background: var(--white);
}

.bg-gray {
  background: var(--gray);
}

.bg-theme-dark {
    background: var(--theme-dark);
}

.bg-theme-light {
    background: var(--theme-light);
}

.text-black {
    color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-theme-dark {
    color: var(--theme-dark);
}

.text-theme-light {
    color: var(--theme-light);
}

.text-accent-dark {
  color: var(--accent-dark);  
}

.text-accent-light {
  color: var(--accent-light);
}

/* Header */
.logo {
  max-width: 100px;
  width: 100%;
  opacity: 0;
  transform: translateY(-200px);
  animation: fadeInUp 0.7s ease-out forwards;
  animation-delay: 0.75s;
}

.name {
  animation: fadeInUp 0.8s ease-out forwards;
  font-size: 6rem;
  line-height: 0.75;
  opacity: 0;
  transform: translateY(0);
}

.firstname {
  animation-delay: 0.4s;
  font-weight: 200;
  letter-spacing: -8px;
}

.lastname {
  animation-delay: 0.6s;
  color: var(--theme-light);
  font-weight: 800;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.lead {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.8s;
  font-size: 1.375em;
  opacity: 0;
  transform: translateY(0);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* What */
div.icon, div.icon * {
  background: var(--theme-dark);
  border: 0;
  color: var(--theme-light);
  text-align: center;
}

div.icon:hover, div.icon:hover * {
  background: var(--theme-light);
  color: var(--theme-dark);
}

/* Footer */

footer > p {
  color: var(--white);
}
